[submodule ".powerlevel10k"]
	path = .zshplugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".zshplugins/.zsh-syntax-highlighting"]
	path = .zshplugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zshplugins/zsh-autosuggestions"]
	path = .zshplugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
