[submodule ".powerlevel10k"]
	path = .zshplugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".history-substring-search"]
	path = .zshplugins/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
